<div class="about-section">
    <h1>About Us Page</h1>
    <p>We work towards success.</p>
    <p>We want our healthcare system to grow</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="team1.png" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Ramesh Ahuja</h2>
          <p class="title">CEO & Founder</p>
          <p>Passionate</p>
          <p>ahuja@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="team2.png" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Rohan Dubey</h2>
          <p class="title">Art Director</p>
          <p>Hi I am in the marketings teams</p>
          <p>rohan@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="team3.png" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Hi I am in the equipments teams</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>